<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اروین پلیمر - راه حل‌های نوین پلیمری</title>
        <script src="/js/tailwind.js"></script>
    <!-- Font Awesome for icons -->
    <link href="~/fontawesome-free/css/all.min.css" rel="stylesheet" />
    
    <!-- Google Fonts - Inter for general text, Vazirmatn for Persian -->
    <link href="~/css/fonts.css" rel="stylesheet">
 

    <!-- اضافه کردن Quill از CDN -->
    <link href="~/css/Quil.css" rel="stylesheet">

    <meta name="robots" content="noindex">

    <link href="~/css/site.css" rel="stylesheet">
    <style>
        .custom-pattern {
            --s: 82px; /* control the size*/
            --c1: #f2f2f2;
            --c2: #ffffff;
            --_c: 5%,#0000 75%,var(--c1) 0;
            --_g: /var(--s) var(--s) conic-gradient(at var(--_c));
            --_l: /var(--s) var(--s) conic-gradient(at 50% var(--_c));
            background: 0 calc(7*var(--s)/10) var(--_l), calc(var(--s)/2) calc(var(--s)/5) var(--_l), calc(var(--s)/5) 0 var(--_g), calc(7*var(--s)/10) calc(var(--s)/2) var(--_g), conic-gradient(at 90% 90%,var(--c1) 75%,var(--c2) 0) 0 0/calc(var(--s)/2) calc(var(--s)/2);
        }

        .ql-editor {
            text-align: right;
            direction: rtl;
            font-family: 'Vazir', 'Tanha', 'Segoe UI', sans-serif;
        }

        .ql-container {
            font-size: 14px;
        }
    </style>
    @RenderSection("Styles", required: false)

</head>
<body class="custom-pattern text-custom-dark-gray">

    <div class="text-center">
        <a href="/fa/Home/AdminPanelLink" class="mt-3  back-link text-blue-600 hover:text-blue-800 text-lg font-medium inline-flex items-center">
            <i class="fas fa-arrow-left ml-2"></i>
            بازگشت به منو اصلی
        </a>
    </div>

    @RenderBody()

    <script src="~/js/jquery371.js"></script>
    <script src="~/js/jquery-validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/quill.js"></script>
    <!-- لود کردن شرطی Quill -->
   
</body>
</html>
